.kolvoprav{
	color:#0d0;
}
.kolvonepr{
	color:#f00;
}
body{
	min-width:800px;
}
#inf{
	border:2px dotted;
	-moz-box-sizing:border-box;
	padding:0.5em;
	box-sizing:border-box;
	width:100%;
	margin-bottom:2em;
	clear:left;
	position:relative;
}
#sovety{
	width:100%;
}
.lisov{
	text-align:center;
	vertical-align:baseline;
	height:auto;
}
