ul.pureCssMenu ul{
	display:none;
	z-index:10;
}
ul.pureCssMenu li:hover>ul{
	display:block
}
ul.pureCssMenu ul{
	position: absolute;
	left:-1px;
	top:98%;
}
ul.pureCssMenu ul ul{
	position: absolute;
	left:98%;
	top:-2px;
}
ul.pureCssMenu,ul.pureCssMenu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:pink;
	background-repeat:repeat;
	border-color:#EEEEEE #AAAAAA #AAAAAA #FFFFFF;
	border-width:2px;
	border-style:groove;
}
ul.pureCssMenu table {
	border-collapse:collapse;
}
ul.pureCssMenu {
	display:block;
	zoom:1;
	float: left;
}
ul.pureCssMenu ul{
	width:250px;
}
ul.pureCssMenu li{
	display:block;
	margin:2px 0px 0px 2px;
	font-size:0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
	outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:pink;
	border-width:0px;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:3px;
	font:bold 18px 'liberation_sans';
	color: #000000;
	text-decoration:none;
	cursor:pointer;
}
ul.pureCssMenu span{
	overflow:hidden;
}
ul.pureCssMenu li {
	float:left;
}
ul.pureCssMenu ul li {
	float:none;
}
ul.pureCssMenu ul a {
	text-align:left;
	white-space:nowrap;
}
ul.pureCssMenu li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.pureCssMenu li.sep span{
	float:none;
	padding-right:0;
	width:5px;
	height:18px;
	display:inline-block;
	background-image:none;
}
ul.pureCssMenu ul li.sep span{
	width:100px;
	height:5px;
}
ul.pureCssMenu li:hover{
	position:relative;
}
ul.pureCssMenu li:hover>a{
	background-color:#FFFFCC;
	border-style:solid;
	font:bold 18px 'liberation_sans';
	color: #091B2D;
	text-decoration:none;
}
ul.pureCssMenu li a:hover{
	position:relative;
	background-color:#FFFFCC;
	border-style:solid;
	font:bold 18px 'liberation_sans';
	color: #091B2D;
	text-decoration:none;
}
ul.pureCssMenu li.dis a {
	color: #AAAAAA !important;
}
ul.pureCssMenu img {
	border: none;
	float:left;
	margin-right:3px;
	width:16px;
	height:16px;
}
ul.pureCssMenu ul img {
	width:16px;
	height:16px;
}
ul.pureCssMenu img.over{
	display:none
}
ul.pureCssMenu li.dis a:hover img.over{
	display:none !important
}
ul.pureCssMenu li.dis a:hover img.def {
	display:inline !important
}
ul.pureCssMenu li:hover > a img.def  {
	display:none;
}
ul.pureCssMenu li:hover > a img.over {
	display:inline;
}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over{
	display:inline;
}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def{
	display:none
}
ul.pureCssMenu a:hover ul{
	display:block
}
ul.pureCssMenu span{
	display:block;
   padding-right:13px;
  }
ul.pureCssMenu li a.pureCssMenui0{
	background-color:pink;
}
ul.pureCssMenu li a.pureCssMenui0:hover{
	background-color:#FFFFCC;
}
#menucenter{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
ul.pureCssMenum{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
