#shabl{
	width:100%;
	height:100%;
	visibility:none;
	position:absolute;
	top:-9999px;
}
#otvet, #never{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
body{
	padding:0;
	margin:0;
	min-height:100%;
}
.vopr{
	padding:2em;
	height:auto;
	overflow:hidden;
}
#wrap2{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
#otv{
		width:10em;
}
#wrap{
	text-align: center;
	font-size:18px;
}
input,body,button{
	font-size:18px;
	font-family:monospace;
}
#textarea-script{
	max-width:100%;
	min-width:100%;
	height:100px;
}
#adres{
	width:292px;
}
