#otvet, #never{
	visibility:hidden;
	position:absolute;
	top:-9999px;
}
body{
	background-color:#ffffcc;
	padding:0;
	margin:0;
	min-height:100%;
}
#pole{
	padding:2em;
	height:auto;
	overflow:hidden;
}
#wrap2{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
#otv{
	width:10em;
}
#panel{
	border-radius: 2.5em;
	background-color:pink;
	margin-left:5%;
	margin-right:5%;
	padding:1em;
}
#wrap{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
}
input,body,button{
	font-size:20px;
	font-family:'liberation_mono',monospace;
}
#galki{
	margin-left:auto;
	margin-right:auto;
}
