		#otvet, #never{
			visibility:none;
			position:absolute;
			top:-9999px;
		}
		body{
			border-radius:2em;
			background-color:#ffffcc;
		}
		#pole{
			padding:4em;
			height:auto;
		}
		#wrap2{
			width:35em;
		}
		#otv{
			width:10em;
		}
		#panel{
			position:absolute;
			height:3em;
			width:40em;
			border-radius: 2.5em 2.5em 0em 0em;
			background-color:pink;
			bottom:0;
			margin-left:auto;
			margin-right:auto;
			padding-top:2em;
			padding-left:2em;
			padding-right:2em;
			horizontal-align:center;
		}
		#wrap{
			width:40em;
			margin-left:auto;
			margin-right:auto;
			font-size:20px;
		}
		input,body,button{
			font-size:20px;
			font-family:monospace;
		}
