{% extends "templ-test.html" %}

{% block title %}Основной тест{% endblock %}

{% block js %}
<script src="chaslib/chaslib.toArray.test.js"></script>
<script src="Number/Number.prototype.frac.test.js"></script>
<script src="Number/Number.prototype.koren.test.js"></script>
<script src="Number/Number.prototype.texfrac.test.js"></script>
<script src="Number/Number.prototype.texfracpi.test.js"></script>
<script src="Number/Number.prototype.texsqrtfrac.test.js"></script>
<script src="Object/Object.clone.test.js"></script>
<script src="Other/clone.test.js"></script>
<script src="Other/isCppCode.test.js"></script>
<script src="Other/sl1.test.js"></script>
<script src="String/String.prototype.isCyrillicWord.test.js"></script>
<script src="String/String.prototype.isNumeric.test.js"></script>
<script src="String/String.prototype.isSpace.test.js"></script>
<script src="String/String.prototype.parseHumanReadableToJSON.test.js"></script>
<script src="String/String.prototype.texfrac.test.js"></script>
<script src="String/String.prototype.transliterate.test.js"></script>
{% endblock %}
