body{
    padding-top:0;
	background-image:url(/img/fon.png);
	background-repeat:repeat-x;
	color:#FFD7B9;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
}
.pbody th, .pbody td {
border:1px solid black;
border-collapse:collapse;
padding:4px
}
.pbody table {
border-collapse:collapse
}
.pbody .no_border th, .pbody .no_border td {
border:0px;
border-collapse:collapse;
padding:4px
}

.tex {
    margin-top:3px;
}
#journal div, #journal td{
	margin:0px;
} 
#journal td{
    padding:2px}
body, div, td {
    color: #000000;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
	margin:5px 0px 0px 0px;
    text-align: justify;
}
td {text-align: left;}
.theme_cb {}
.nobreak {
    page-break-inside: avoid;
    color: #000000;
    clear:both;
    }
#sol{
	border:1px solid #D2E2FF;
	margin-left:5px; 
	padding:10px;
	background-color:#F0F5FF;
	border-radius: 7px;
}
#overlay {
    color:#000;
    width:930px;
    left:30px;
    border:1px solid grey;
    display:none;
    z-index:10001;
    margin:auto;
}
#overlay .close {
    position:absolute;
    right:2px;
    top:2px;
    width:13px;
    height:15px;
    background:url(/img/cancel.gif) no-repeat;
    }
.pagerLink
{
	font-size:10pt;
	margin-right:5px;
}
.pagerSelectedLink
{
	margin-right:5px;
	font-weight:bold;
	font-size:10pt;
}
/* Ячейка таблицы результатов поиска */
.cellResultsItem
{
	border-bottom:1px solid grey;
}
/* Информация о репетиторе */
.tutorInfo
{
}

.tutorInfoTable
{
	width:800px;
	font-size:10pt;		
}

.tutorName
{
	font-weight:bold;
	font-size:14pt;
	text-align:center;
}

.tutorInfoHeader
{
	font-weight:bold;
	width:200px;
}
.tutorInfoBigHeader
{
	font-weight:bold;
}
.tutorInfoImgCell
{
	vertical-align:top;
	padding-top:30px;
}
div.contentWrap {
    overflow-y:auto;
    background-color:#fff;
    font-size:10pt;
    padding:10px;
    margin:0;
    z-index:11000;
}

table { 
    border-radius: 7px;
}

/*table {background-image:url(/img/white.png);
    	border-radius: 7px;
}*/
td{ 
}
th {background: #BAC2FF;
    border: 0px;
	font-family: Verdana, Geneva, sans-serif;
	/*font-size: 15px;*/
	font-weight:bold;
	color: #006;
}
.header {background: #BAC2FF;
    border: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #006;
    text-align: center;
}

.row0 td, .oddrow td{background: #e6e6ff;
    border: 0px solid black}
.row1 td, .evenrow td{background: #e6ffe6;
    border: 0px solid black}
.pinkmark, .pinkmark td{
    background:#FFd6a3;
    font-size: 12px;
    font-style: normal;
	color: #006;
	font-family: Verdana, Geneva, sans-serif;
    text-align: center;
	}
a { COLOR: #090949;}
th {
    text-align: center;
}
a:hover { COLOR: #303030;}
.menu {font-size: 13px;
	font-style: normal;
	color: #006;
	font-family: Verdana, Geneva, sans-serif;}
.menu a,.menu a:hover{
font-size: 13px;
	font-style: normal;
	/*color: #006;*/
	font-family: Verdana, Geneva, sans-serif;}
.sape{
	color: #a0a0ff;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;}
.subjhr {
white-space:nowrap;
text-decoration:none;
/*margin-left:-4px;*/
font-size: 9pt;
color: #000000;
font-family: Verdana, Geneva, sans-serif;
max-width:129px;
}


/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:20px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    background: url(/img/blue.png) no-repeat -420px 0;
    font-size:9pt;
    display:block;
    height: 20px;
    line-height:20px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default !important;
    color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
    padding:2px 2px;
    border:1px solid #999;
    border-top:0;
    height:100%;
    font-size:13px;
    background-color:#fff;
}
/*////////////////////////////////////*/

div.header{
	background-color:#BAC2FF;
	background:linear-gradient(top, #E2E0FC, #BAC2FF);
	background:-webkit-linear-gradient(top, #E2E0FC, #BAC2FF);
	background:-moz-linear-gradient(top, #E2E0FC, #BAC2FF);
	background:-khtml-linear-gradient(top, #E2E0FC, #BAC2FF);
	box-shadow: inset 0px 0px 2px rgba(77,77,77,.15);

	border-left:1px solid #D6D6D6;
	border-top:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6;
	border-radius: 10px 10px 1px 1px;
	margin-bottom:0px;
	padding-top:5px;
}
div[id='']{
	border-left:1px solid #D6D6D6;
	border-bottom:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6;
	margin-top:-2px;
	padding-top:4px;
	margin-bottom:5px;
	border-radius: 0px 0px 5px 5px;	
}
.pred_pan{
	font-size:11px;
	width:1000px;
	height:23px;
	min-height:23px;
	min-width:1000px;
	padding-left:4px;
	margin-top:0px;
}
.pred, .pred:hover, .pred_v:hover, .pred_v, .pred_0, .pred_no{
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;	
	float:left;
	padding-top:3px;
	padding-bottom:5px;
	margin:1px 1px 1px 0px;
}
.pred, .pred:hover, .pred_v:hover, .pred_v, .pred_no{
	border-radius: 10px;
	border-radius: 14px 3px 14px 3px;
	text-align:center;
	/*min-width:132px;
	max-width:132px;
	width:132px;*/	
	
	min-width:141px;
	max-width:141px;
	width:141px;	
}
.pred_0{width:64px;}
.pred{	
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E6', endColorstr='#FFD2B6');*/
    cursor:pointer;
	background:linear-gradient(top, #FFF0E6, #FFD2B6);
	background:-webkit-linear-gradient(top, #FFF0E6, #FFD2B6);
	background:-moz-linear-gradient(top, #FFF0E6, #FFD2B6);
	background:-khtml-linear-gradient(top, #FFF0E6, #FFD2B6);
	background:-ms-linear-gradient(top, #FFF0E6, #FFD2B6);
	background:-o-linear-gradient(top, #FFF0E6, #FFD2B6);
	background-color:#FFE2C6;
	box-shadow: inset 0px 0px 2px rgba(77,77,77,.15);
}
.pred:hover, .pred_v:hover {
	background-color:#FFC788;
	background:linear-gradient(bottom, #FFF0E6, #FFD2B6);
	background:-webkit-linear-gradient(bottom, #FFF0E6, #FFD2B6);
	background:-moz-linear-gradient(bottom, #FFF0E6, #FFD2B6);
	background:-khtml-linear-gradient(bottom, #FFF0E6, #FFD2B6);
	box-shadow: inset 0px 1px 2px rgba(77,77,77,.15);	
}/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD2B6', endColorstr='#FFF0E6');*/
.pred_v{
	font-weight:bold;
	background-color:#FFE2C6;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD4A4', endColorstr='#FFF0E6');*/
	background:linear-gradient(bottom, #FFE6E6, #FFD4A4);
	background:-webkit-linear-gradient(bottom, #FFE6E6, #FFD4A4);
	background:-moz-linear-gradient(bottom, #FFE6E6, #FFD4A4);
	background:-khtml-linear-gradient(bottom, #FFF0E6, #FFD4A4);
	box-shadow: inset 0px 0px 2px rgba(77,77,77,.15);
	background-color:#FFE2C6;
}
.menu_l, .menu_l:hover, .menu_v:hover, .menu_v{
	font-family: Verdana, Geneva, sans-serif;
	font-size:9pt;
	height:23px;
	padding-left:25px;
	padding-top:5px;
	border-radius: 3px 15px 15px 3px;
	margin-bottom:3px;
}
.menu_l{
    cursor:pointer;
	background-image:url(/img/menu1.png);
	background-repeat:no-repeat;
	background-position:center;
	background-position:left;
}
.menu_l:hover, .menu_v:hover {
	background-color:#DDE2EF;
	color:#003;
}
.menu_v, .menu_l:hover{
	background-image:url(/img/menu2.png);
	background-repeat:no-repeat;
	background-position:center;
	background-position:left;
}
.menu_v{
	background-color:#EAEAFF;
}
.tab_p{
	max-width:132px;
	min-width:132px;
	width:132px;
}

input[type="button"], input[type="submit"]{
	border:none;
	border-radius: 6px;
	padding:3px;
	background-color:#D2E2FF;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2E2FF', endColorstr='#9DCCFF');*/
	background:linear-gradient(top, #D2E2FF, #9DCCFF);
	background:-webkit-linear-gradient(top, #D2E2FF, #9DCCFF);
	background:-moz-linear-gradient(top, #D2E2FF, #9DCCFF);
	background:-khtml-linear-gradient(top, #D2E2FF, #9DCCFF);
	box-shadow: inset -1px -1px 2px rgba(77,77,77,.3);
	min-width:60px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
	margin-top:9px;
}
	input[type="button"]:hover, input[type="submit"]:hover{
	border:none;
	border-radius: 6px;
	padding:3px;
	background-color:#BFD6FF;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFD6FF', endColorstr='#D2E2FF');*/
	background:linear-gradient(top, #BFD6FF, #D2E2FF);
	background:-webkit-linear-gradient(top, #BFD6FF, #D2E2FF);
	background:-moz-linear-gradient(top, #BFD6FF, #D2E2FF);
	background:-khtml-linear-gradient(top, #BFD6FF, #D2E2FF);
	box-shadow: inset 1px 1px 2px rgba(77,77,77,.4);
	min-width:60px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
	margin-top:9px;
}

input[type="text"],input[type="password"], textarea {
	border-radius: 3px;
	border:1px solid #5983FF;
	background-color:#F4F8FF;
	padding:2px;
	box-shadow: inset 0px 0px 3px rgba(77,77,77,.35);	
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
}
td{
	border-radius: 2px;	
}
.login{
	background-color:#F0F5FF;
	border-style:solid #CEDEFF;
	border:1px solid #CEDEFF;
	border-radius: 7px;
	padding:3px;
	text-align:left;
}
hr{
	border:1px solid #AAA;	
}
.login a, .login form{
	/*outline:none;*/
	font-size:11px;
}
.login a{
	border:0px solid #CEDEFF;
	border-radius: 4px;
	padding:2px;
	line-height:21px;
}
form[id="catform"] table{
	width:100%;
}
form[id="catform"] table td{
	border-bottom:0px #DDD ridge;
	padding-right:50px;
}

form[id="catform"] table th{
	padding-right:50px;
}
form[id="catform"] table td div{
	margin-top:0px;
}
form[id="catform"] table td table{
	width:90%;
	border-radius: 0px;	
	border-left:1px solid #CCC;
	margin-top:0px;
	margin-bottom:5px;
}
form[id="catform"] table td table td{
	border-bottom:0px #DDD ridge;
	padding-left:-5px;
	padding-right:0px;
}
#tophref{
	background-image:url(/img/up.png);
	background-repeat:no-repeat;
	padding-left:38px;
	padding-top:20px;
	padding-bottom:10px;
	font-size:9px;
	color:#666;
}
