*~
*.kate-swp
*.log
*.~lock.*
*.orig
*.local
*.LOCAL.*
*.BACKUP.*
*.BASE.*
*.REMOTE.*
*.cache

node_modules
dist
build
temp

#Упакованные наборы заданий
zdn/*/upak.js

#Прочие упакованные библиотеки
#lib/head.min.js
#lib/chas-uijs.js

