<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}Тренажёр "Час ЕГЭ" {{version_title}}</title>
	<script>
	{% include "../lib/head.min.js" %}
	</script>
	{% block css %}
	{% endblock %}
</head>
<body>
	{% block preinit %}
	{% endblock %}
	<script>
		addinitjs();
	</script>
	{% block content %}
	{% endblock %}
	<div class="otstup" align="justify">
		{% block textcontent %}
		{% endblock %}
	</div>
	{% block js %}
	{% endblock %}
</body>
</html>
