{% extends "../sh/legacy.html" %}

{% block title %}Проверка скорости исполнения кода - {% endblock %}

{% block css %}
	<script>
		addstyle("../css/otladka.css");
	</script>
{% endblock %}

{% block preinit %}
{% endblock %}

{% block content %}
	<div id="pole" class="vopr">
	</div>
	<div id="resh" class="vopr">
	</div>
	<div id="otvet"></div>
	<div id="never"></div>
	<div id="wrap">
		<div id="panel" class="polosa">
			<div>
				<textarea id="textarea-script" data-chasstorage-id="timetest-textarea-script" onkeydown="return catchTab(this,event)"></textarea>
				<br/>
				Количество итераций:
				<input id="iter" data-chasstorage-id="timetest-kolvo-iter" value="20000"/>
				<button onclick="tt();">Проверить время
				</button>
			</div>
		</div>
	</div>
	<div>
		<iframe src="" id="shabl" charset="utf-8" type="text/javascript" lang="ru"></iframe>
	</div>
	<script>
		addscript('timetest.js');
	</script>
{% endblock %}
