<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %} – Тренажёр "Час ЕГЭ" {{version_title}}</title>
	<script>
		window.bootstrapdesign=1;
		{% include "../build/lib/head.min.js" %}
		chas.mode.withoutSlider=1;
		chas.mode.withoutMenu=1;
	</script>
	<link rel="shortcut icon" id="link_icon1"/>
	<link rel="icon" id="link_icon2"/>

	{% block css %}
	{% endblock %}
</head>
<body onload="startShell();" class="newdesign">
	<input type="hidden" id="var-version" value="{{version}}"/>
	<noscript>
		Для работы тренажёра необходим javascript.
	</noscript>

	{% block body %}
	{% endblock %}
	<div id="document-write">
	</div>

	<script>
		addinitjs();
	</script>
	<!--
		Тут не просто так два script подряд, надо дождаться, пока init.js отработает
		TODO: в отношении новой карусели тоже сделать флаг, как про старую вертушку
	-->
	<script>
		generateCarousel('#advert');
	</script>

	<script src="../ext/bootstrap/js/bootstrap.min.js"></script>

	<script>
		chasStorage.domData.load();
		window.addEventListener('unload', function() {
			chasStorage.domData.save();
		});
	</script>
	{% block js%}
	{% endblock %}
</body>
</html>
