<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}Тренажёр "Час ЕГЭ" {{version_title}}</title>

	<script>
		document.write('<script src="../js/head.js?'+Math.random()+'"></sc'+'ript>');
	</script>

	<link href="../ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<link href="../ext/anyslider/css/anythingslider.css" rel="stylesheet">
	<link href="../ext/anyslider/css/theme-minimalist-square.css" rel="stylesheet">
	<!-- <link href="../css/browser.css" rel="stylesheet"> -->
	<!-- <link href="../css/main.css" rel="stylesheet"> -->
	<link href="../ext/fonts/stylesheet.css" rel="stylesheet">
	<link href="../ext/keyboard/keyboard.css" rel="stylesheet">
	<link href="../ext/jqplot/jquery.jqplot.css" rel="stylesheet">

	<!-- <style> -->
		<!-- .panel-default { -->
			<!-- border-color: #fff; /* TODO: убрать костыль */ -->
		}
	<!-- </style> -->
</head>
<body onload="$.jStorage.zagrData();" onunload="$.jStorage.sohrData()">
	<script>
		document.write('<script src="../../../js/init.js?'+Math.random()+'"></sc'+'ript>');
	</script>

	<div class="container" style="margin-top: 70px">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html">Тренажёр "Час ЕГЭ"</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Тесты <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">Случайное задание</a>
								</li>
								<li>
									<a href="#">Каталог заданий набора</a>
								</li>
								<li>
									<a href="#">Тест на печать</a>
								</li>
							</ul>
						</li>
						<li><a href="../doc/download.html">Скачать</a></li>
						<li><a href="#">Информация</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Разное <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Для разработчиков</a></li>
								<li><a href="#">Режим отладки шаблона</a></li>
								<li><a href="#">Опросы и голосования</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="https://www.math.vsu.ru/">Сайт Математического факультета ВГУ</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">Навигация</div>
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" {% if CURRENT_TEMPLATE == "random-task.html" %}class="active"{% endif %}>
								<a href="./random-task.html">Случайное задание</a>
							</li>
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Тесты по предметам <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Математика</a></li>
									<li><a href="#">Информатика</a></li>
									<li><a href="#">Тригонометрия</a></li>
									<li><a href="#">Русский язык</a></li>
								</ul>
							</li>
							<li role="presentation"><a href="#">Полный тест по математике</a></li>
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Мы ВКонтакте <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="https://vk.com/app3634828">Приложение</a></li>
									<li><a href="https://vk.com/chasege">Оф. группа</a></li>
								</ul>
							</li>
							<li role="presentation"><a href="#">О проекте</a></li>
						</ul>
					</div>
				</div>
				<blockquote>
					<div id="advert" class="carousel slide" data-interval="5000" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="0" class="active"></li>
							<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="1"></li>
							<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="active item" style="height: 250px !important;font-size: 16px;text-align:center;">
								<p>Это - экспериментальная, тестовая версия программы.<br/>В ней могут быть ошибки и неполадки.</p>
							</div>
							<div class="item" style="height: 250px !important;font-size: 16px;text-align:center;">
								<p>Все замечания и предложения отправляйте<br/>на адрес nickkolok@mail.ru</p>
							</div>
							<div class="item" style="height: 250px !important;font-size: 16px;text-align:center;">
								<p>Математический факультет ВГУ - это <br/>высококвалифицированный профессорско-преподавательский <br/> состав и увлекательная студенческая жизнь.</p>
							</div>
						</div>
						<!-- Иконки не работают из-за шрифтов, надо фиксить -->
						<!--
							<a class="carousel-control left" href="#advert" data-slide="prev">
								<span class="glyphicon glyphicon-menu-left"></span>
							</a>
							<a class="carousel-control right" href="#advert" data-slide="next">
								<span class="glyphicon glyphicon-search"></span>
							</a>
							-->
					</div>
				</blockquote>
			</div>
			<div class="col-md-9">
				<div class="well text-justify">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">
						Тренажёр "Час ЕГЭ" <span class="badge">{{version_title}}</span>
						<br>
						Copyright © 2013-<script>var date = new Date; document.write(date.getFullYear());</script> Команда "Часа ЕГЭ"
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- <script src="https://ajax.googleapis.com/ajax/jss/jquery/1.11.2/jquery.min.js"></script> -->
	<script src="../ext/jquery-2.1.0.min.js"></script>
	<script src="../ext/bootstrap/js/bootstrap.min.js"></script>

	<script src="../ext/jqplot/jquery.jqplot.min.js"></script>
	<script src="../ext/jqplot/plugins/jqplot.barRenderer.min.js"></script>
	<script src="../ext/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script src="../ext/anyslider/js/jquery.anythingslider.js"></script>
	<script src="../ext/jstorage.min.js"></script>
	<script src="../ext/keyboard/keyboard.js"></script>
	<script src="../ext/html2canvas.js"></script>

	<script src="../js/func.js"></script>
	<script src="../js/func_ui.js"></script>
	<script src="../js/object.js"></script>
	<script src="../js/array.js"></script>
	<script src="../js/array_mt.js"></script>
	<script src="../js/array_mp.js"></script>
	<script src="../js/array_mn.js"></script>
	<script src="../js/array_pe.js"></script>
	<script src="../js/string.js"></script>
	<script src="../js/number.js"></script>
	<script src="../js/number_math.js"></script>
	<script src="../js/canvas.js"></script>
	<script src="../js/regexp.js"></script>
	<script src="../js/function.js"></script>
	<script src="../js/lx.js"></script>
	<script src="../js/lxnar.js"></script>
	<script src="../js/lxsoch.js"></script>
	<script src="../js/lxskl.js"></script>
	<script src="../js/lxchisl.js"></script>
	<script src="../js/sklon.js"></script>
	<script src="../js/complex.js"></script>
	<script src="../js/namealias.js"></script>

	<script src="../js/func_jquery.js"></script>
	<script src="../js/umka.js"></script>
	<script src="../js/core_vopr.js"></script>
	<script src="../js/core_nabor.js"></script>
	<script src="../js/core_dvig.js"></script>
	<script src="../js/dvig_fn.js"></script>
	<script src="../js/dvig_rz.js"></script>
	<script src="../js/dvig_lz.js"></script>
	<script src="../js/urljson.js"></script>
	<!-- <script src="../js/style.js"></script> -->
	<script src="../js/menu.js"></script>
	<script src="../js/yametrika.js"></script>
	<script src="../js/browser.js"></script>
	<script src="../js/osnmas.js"></script>
	<script src="../js/cache.js"></script>
	<script src="../js/jstorage.zapomni.js"></script>
	<script src="../js/sovety.js"></script>

	<script src="../js/nlib/core.js"></script>
	<script src="../js/napi/core.js"></script>

	{% block js %}
	{% endblock %}
</body>
</html>
