{% extends "base.html" %}

{% block title %}Интерактивный тест - {% endblock %}

{% block content %}
<script >
	window.mjConfig='TeX-AMS-MML_SVG-full';
	addstyle("../css/pech.css");
</script>
	<div id="gotov">
		<div id="pr0">
			<div id="t0" class="tx">
				0%
			</div>
		</div>
		<div id="pr1">
			<div id="t1" class="tx">
			</div>
		</div>
		<div id="vrem">		
		</div>
	</div>
	<div id="panel">
		<div>
			Выберите необходимое количество заданий каждого типа:
		</div>
		<br/>
		<table class="bezramok" id="zadaniya">
		</table>
		<br/>
		<div>
			<div id="galki_kat">
			</div>
			<button onclick="zapusk();">Запуск!</button>
			<button onclick="vse1();">Стандартный тест</button>
			<button onclick="vse0();">Сбросить все</button>
		</div>
	</div>
	<div class="otstup">
		<div id="rez">
		</div>	
		<div id="prov_knopki">
			<button id="but_prov" onclick="prov();">
				Проверить!
			</button>
			<button onclick="location.reload();">
				Другой тест
			</button>
		</div>	
	</div>
{% endblock %}

{% block js %}
<script src="../js/page/poln.js"></script>
{% endblock %}

