{% extends "templ-base.html" %}

{% block body %}

{% block preinit %}
{% endblock %}
<div id="document-write">
</div>
<noscript>
	Для работы тренажёра необходим javascript.
</noscript>

<div style="position: fixed; left: 0; top: 48px; z-index: 2048" id="build-markers">
	<!-- TODO: {% if build_target == "dev" %} -->
	<!-- <span class="label label-success" id="mark-dev-build">dev-сборка</span> -->
	<!-- {% endif %} -->
	<span class="label label-info" id="mark-local" style="display: none">Локальный</span>
	<span class="label label-warning" id="mark-debug" style="display: none">DEBUG</span>
</div>

<div class="container" style="margin-top: 70px">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">
					Тренажёр "Час ЕГЭ"
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div id="bs-example-navbar-collapse-2">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="./contrib.html">
							<span class="label {% if CURRENT_TEMPLATE == "contrib.html" %}label-primary{% else %}label-success{% endif %}">
								<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
								Помочь проекту
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Навигация</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" {% if CURRENT_TEMPLATE == "random-task.html" %}class="active"{% endif %}>
							<a href="./random-task.html">Случайное задание</a>
						</li>

						<!-- <li role="presentation" class="dropdown"> -->
							<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Тесты по предметам <span class="caret"></span></a> -->
							<!-- <ul class="dropdown-menu" role="menu"> -->
								<!-- <li><a href="#">Математика</a></li> -->
								<!-- <li><a href="#">Информатика</a></li> -->
								<!-- <li><a href="#">Тригонометрия</a></li> -->
								<!-- <li><a href="#">Русский язык</a></li> -->
							<!-- </ul> -->
						<!-- </li> -->
						<!-- <li role="presentation"><a href="#">Полный тест по математике</a></li> -->
						<!-- <li role="presentation" class="dropdown"> -->
							<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Мы ВКонтакте <span class="caret"></span></a> -->
							<!-- <ul class="dropdown-menu" role="menu"> -->
								<!-- <li><a href="https://vk.com/app3634828">Приложение</a></li> -->
								<!-- <li><a href="https://vk.com/chasege">Оф. группа</a></li> -->
							<!-- </ul> -->
						<!-- </li> -->
						<!-- <li role="presentation"><a href="#">О проекте</a></li> -->
					</ul>
				</div>
			</div>
			<blockquote>
				<div id="advert" class="carousel slide" data-interval="5000" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="0" class="active"></li>
						<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="1"></li>
						<li data-target="#advert" style="border-color:#2c3e50;background-color:#ecf0f1;" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="active item" style="height: 250px !important;font-size: 16px;text-align:center;">
							<div class="alert alert-warning">
								Это – <span class="badge">beta-версия</span> тренажёра.
								<br/>
								При нахождении ошибок, просьба сообщать о них на <a href="https://bitbucket.org/chas-ege-team/chas-ege/issues">багтрекере</a>.
							</div>
						</div>
						<div class="item" style="height: 250px !important;font-size: 16px;text-align:center;">
							<p>Все замечания и предложения отправляйте<br/>на адрес nickkolok@mail.ru</p>
						</div>
						<div class="item" style="height: 250px !important;font-size: 16px;text-align:center;">
							<p>Математический факультет ВГУ - это <br/>высококвалифицированный профессорско-преподавательский <br/> состав и увлекательная студенческая жизнь.</p>
						</div>
					</div>
					<!-- Иконки не работают из-за шрифтов, надо фиксить -->
					<!--
						<a class="carousel-control left" href="#advert" data-slide="prev">
							<span class="glyphicon glyphicon-menu-left"></span>
						</a>
						<a class="carousel-control right" href="#advert" data-slide="next">
							<span class="glyphicon glyphicon-search"></span>
						</a>
						-->
				</div>
			</blockquote>
		</div>
		<div class="col-md-9">
			<div class="well text-justify">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
					Тренажёр "Час ЕГЭ"
					<span class="badge">
						{% if buildsys__mode == "dev" %}
						{{version_exact}}
						{% else %}
						{{version_title}}
						{% endif %}
					</span>
					<br>
					Copyright © 2013-<script>var date = new Date; document.write(date.getFullYear());</script> Команда "Час ЕГЭ"
				</p>
			</div>
		</div>
	</div>
</footer>
<script>
	chas.design.menuKeeperId='bs-example-navbar-collapse-2';
</script>

{% endblock %}
