{% extends "base.html" %}

{% block title %}Проверка скорости исполнения кода - {% endblock %}

{% block content %}
<div id="pole" class="vopr">
</div>
<div id="resh" class="vopr">
</div>
<div id="otvet"></div>
<div id="never"></div>
<div id="wrap">
	<div id="panel" class="polosa">
		<div>
			<textarea id="textarea-script" data-jstorage-id="timetest-textarea-script" onkeydown="return catchTab(this,event)"></textarea>
			<br/>
			Количество итераций:
			<input id="iter" data-jstorage-id="timetest-kolvo-iter" value="20000"/>
			<button onclick="tt();">Проверить время
			</button>
		</div>
	</div>
</div>
<div>
	<iframe src="" id="shabl" charset="utf-8" type="text/javascript" lang="ru"></iframe>
</div>
{% endblock %}

{% block js %}
<script src="../js/page/timetest.js"></script>
{% endblock %}
