.csharp .de1, .csharp .de2 {-moz-user-select: text;-khtml-user-select: text;-webkit-user-select: text;-ms-user-select: text;user-select: text;margin:0; padding: 0 5px; background:none; vertical-align:top;color:#000;border-left: 1px solid #ccc; margin: 0 0 0 -7px; position: relative; background: #ffffff;}
.csharp  {color:#ACACAC;}
.csharp .imp {font-weight: bold; color: red;}
.csharp li, .csharp .li1 {-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}
.csharp .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.csharp .kw1 {color: #0600FF; font-weight: bold;}
.csharp .kw2 {color: #FF8000; font-weight: bold;}
.csharp .kw3 {color: #008000;}
.csharp .kw4 {color: #6666cc; font-weight: bold;}
.csharp .kw5 {color: #000000;}
.csharp .co1 {color: #008080; font-style: italic;}
.csharp .co2 {color: #008080;}
.csharp .co3 {color: #008080;}
.csharp .coMULTI {color: #008080; font-style: italic;}
.csharp .es0 {color: #008080; font-weight: bold;}
.csharp .es_h {color: #008080; font-weight: bold;}
.csharp .br0 {color: #008000;}
.csharp .sy0 {color: #008000;}
.csharp .st0 {color: #666666;}
.csharp .st_h {color: #666666;}
.csharp .nu0 {color: #FF0000;}
.csharp .me1 {color: #0000FF;}
.csharp .me2 {color: #0000FF;}
.csharp .ln-xtra, .csharp li.ln-xtra, .csharp div.ln-xtra {color:black;background:#FFFF88;}
.csharp span.xtra { display:block; }
