html{-webkit-text-size-adjust:100%}
body{background:url(bg.jpg);color:#181818;font-family:segoe ui, trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;font-size:1em;line-height:1.5em;margin:0;padding:0}
a{color:#C03;text-decoration:none}
a:hover{color:#999;text-decoration:none}
.icon24{height:24px;margin:0 4px 0 10px;vertical-align:middle;width:24px}
.firefox{background:url(main_sprite.jpg) no-repeat -126px -66px}
.chrome{background:url(main_sprite.jpg) no-repeat -126px -90px}
.webos{background:url(main_sprite.jpg) no-repeat -126px -138px}
.clickto{background:url(main_sprite.jpg) no-repeat -126px -114px}
.opera{background:url(main_sprite.jpg) no-repeat -78px -162px}
.macos{background:url(main_sprite.jpg) no-repeat -78px -138px}
.android{background:url(main_sprite.jpg) no-repeat -78px -90px}
.iphone{background:url(main_sprite.jpg) no-repeat -78px -114px;margin:0 5px 0 0}
.windows{background:url(main_sprite.jpg) no-repeat -102px -114px}
.windowsphone{background:url(main_sprite.jpg) no-repeat -102px -138px}
.unix{background:url(main_sprite.jpg) no-repeat -102px -90px}
.content_sub_title{border-bottom:1px dotted #999;font-size:1em;font-weight:700;margin:10px 0 0}
#header{-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;background-color:#023859;border-radius:0 0 6px 6px;color:#fff}
#super_frame{margin:0 auto;min-width:1100px;width:1200px}
#monster_frame{margin:0;background-color:#fff;-moz-box-shadow: 0 0 10px 5px #ccc;-webkit-box-shadow: 0 0 10px 5px #ccc;box-shadow: 0 0 10px 5px #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #ccc;}
#header a{color:#fff}
#menu_2{height:290px;overflow:none}
.whois{clear:both;font-size:13px;line-height:20px;margin:5px 0 10px;overflow:auto;white-space:pre;width:760px}
.graph_form{padding:3px}
.content_adsense{float:left;height:290px;width:346px}
.graph_update{font-size:13px;padding:0 5px 0 0;text-align:right}
.thumb2{margin:0 0 10px}
.domain_td_left{width:150px}
.domain_search_input{background:url(domain_search_bg.png) no-repeat;border:0;height:23px;margin:0;padding:6px 6px 6px 36px;vertical-align:top;width:361px}
.domain_search_form{display:inline;height:35px;margin:0;padding:0}
.domain_search_button{background:url(main_sprite.jpg) no-repeat -60px -216px;height:30px;margin:2px 0 0 5px;padding:0;vertical-align:top;width:30px}
.domain_desc{float:left;font-size:0.8em;line-height:22px;width:410px}
.img_email{vertical-align:top}
#frame_spacer,.frame_spacer{clear:both;height:5px}
#header_middle{background:url(headerbg1.jpg);font-size:1.25em;font-weight:700;height:44px;line-height:44px;padding:0 0 0 10px}
.span_left{float:left;text-align:left}
.span_right{float:right;text-align:right}
.div_top_menu{float:left;margin:0 0 0 55px;text-align:left;z-index:1000}
.top_menu li{background:url(spacer.png) no-repeat 0 3px;display:inline;list-style:none;margin:0;padding:0 8px}
.no_border li{padding:0 5px 0 20px}
li.no_border_li{background:0}
.i_t{background:url(main_sprite.jpg) no-repeat -81px -194px;margin:4px 2px 0 0;vertical-align:top}
.i_n{background:url(main_sprite.jpg) no-repeat -65px -194px;margin:4px 2px 0 0;vertical-align:top}
.verygood{color:green}
.more{font-weight:700;letter-spacing:3px}
.big{font-weight:700;letter-spacing:3px;margin-left:57px;text-shadow:#10161C 0 -1px 1px;text-transform:uppercase}
.less{font-size:0.9em}
#header_middle_search{float:right;height:34px;padding:7px 5px 0 0;text-align:right}
.search_input{-moz-border-radius:2px;-webkit-border-radius:2px 2px 2px 2px;background:#fff;border:1px solid #ccc;border-radius:2px 2px 2px 2px;font-family:segoe ui, trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;margin:0;padding:6px;vertical-align:top;width:180px}
.search_form{display:inline;height:30px;margin:0;padding:0}
.search_button{background:url(main_sprite.jpg) no-repeat -60px -216px;height:30px;margin:0 0 0 5px;padding:0;vertical-align:top;width:30px}
.search_button:hover{background:url(main_sprite.jpg) no-repeat -90px -216px}
div#content_frame{clear:both;margin:10px 0 0;overflow:hidden}
div#content_right{background:url(linebg.png) no-repeat;float:right;padding:0 10px;width:300px}
#content_left{margin-left:10px;margin-right:332px}
.content_right_title{color:#333;font-size:0.8em;font-weight:700}
.content_right_title a{color:#333}
.content_title{background:url(main_sprite.jpg) no-repeat -128px -272px;border-bottom:1px dotted #ccc;color:#333;font-size:1em;font-weight:700;padding:0 0 5px 22px}
.tools_frame{height:11px}
.tools_right{float:left;padding:5px 0 2px 5px}
#code_tools{background-color:#F8F8F8;border-bottom:1px solid #369;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;color:#ccc;float:right;font-size:0.7em;margin-bottom:-1px;text-transform:uppercase;width:200px}
.paste_box_frame{clear:left;height:60px;margin:0 0 6px}
.paste_box_info{color:#666;float:left;font-size:0.8em}
.paste_box_line1,.paste_box_line2,.paste_box_line3{height:19px;line-height:19px;margin:0;overflow:hidden;padding:0;width:600px}
.paste_box_line1{height:22px;line-height:18px}
.tweet{float:right;height:62px;overflow:hidden;text-align:right;width:53px;}
.paste_box_info h1{color:#333;display:inline;font-size:1.2em;font-weight:700;height:20px;line-height:18px;margin:0;padding:0}
.banner_728{clear:left;height:90px;padding:0 0 10px;width:728px}
.upload_frame{background-color:#F8F8F8;border:1px solid #ddd;font-size:0.8em;margin:10px 0;padding:5px}
.raw_links{color:#ccc;font-size:0.8em;font-weight:400}
.paste_box_links{color:#ccc;float:right;font-size:0.9em;font-weight:700;line-height:20px;text-align:right;text-transform:uppercase}
span.min_max_span{cursor:pointer;display:inline;float:right;margin:7px 3px 0 0}
span.wide_it{background:url(main_sprite.jpg) no-repeat -53px -86px;height:11px;width:22px}
span.narrow_it{background:url(main_sprite.jpg) no-repeat -53px -97px;height:11px;width:22px}
#logo{background:url(main_sprite.jpg) no-repeat 0 -210px;cursor:pointer;height:62px;position:absolute;top:19px;width:60px}
#logo_small{background:url(main_sprite.jpg) no-repeat -102px -162px;float:left;height:52px;margin:10px 5px;width:47px}
#footer{clear:both;color:#666;font-size:0.85em;font-weight:400;height:140px;margin:5px auto;min-width:1200px;width:1200px}
.footer_top_title{border-bottom:1px dotted #ccc;color:#666;font-size:0.85em;font-weight:400;padding:0 0 3px;text-shadow:#fff 1px 1px 0}
.footer_top_text{font-size:0.8em;padding:6px 0 0}
#footer_title{float:left;font-weight:400;margin:10px;text-transform:uppercase}
#footer_links{border-left:1px solid #ccc;color:#999;float:left;margin:10px;padding:0 0 0 10px;text-shadow:#fff 0 -1px 1px}
#footer_right{background:url(main_sprite.jpg) no-repeat 0 -272px;cursor:pointer;float:right;height:35px;margin:10px;width:118px}
#footer_top a:hover,#footer_links a:hover{text-decoration:underline}
#footer_top{background:#F7F7F7;height:70px;margin:10px 1px 1px;padding:6px 10px 0}
textarea.paste_textarea{background-color:#F8F8F8;border:0;display:block;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;font-size:10pt;padding:1%;width:98%;line-height:21px}
.textarea_border{background-color:#F8F8F8;border:1px solid #ddd;margin:10px 0;padding:5px}
#error,#notice,#success{
-khtml-border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
background:url(info.png) no-repeat 12px 12px;
border-radius:5px;
display:block;
line-height:20px;margin:6px 0;min-height:20px;padding:10px 10px 10px 35px}

#error{background-color:#FFF7DD;border:1px solid #FFE99D;color:#333;}
#notice{background-color:#F4F4F4;border:1px solid #DFDFDF;color:#666;}
#success{background-color:#E1EFBE;border:1px solid #accc5d;color:#70892b;}


textarea.paste_code{background-color:#F8F8F8;border:0;display:block;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;font-size:12px;height:300px;line-height:21px;margin-bottom:0;padding:1%;width:98%}
#d_clip_button.hover{cursor:pointer}
.code_box{background-color:#FFFFEF;border:1px dotted #DDA;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;font-size:12px;margin:10px;overflow:auto;padding:7px;white-space:pre}
.content_text{font-size:0.8em;line-height:22px;padding:10px 0}
.content_text_info{background-color:#F8F8F8;border:1px solid #ddd;font-size:0.75em;line-height:22px;margin:0 0 10px;padding:10px}
textarea.abuse_textarea{background-color:#F8F8F8;border:1px solid #ccc;display:block;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;font-size:10pt;margin:0 0 10px;padding:5px;width:600px;line-height:21px}

.right_menu li{background:url(main_sprite.jpg) no-repeat -129px -217px;border-top:1px dotted #ccc;font-size:0.7em;line-height:14px;list-style:none;margin:0;overflow:hidden;padding:3px 0 3px 20px;width:280px}
fieldset.login_field {border:1px dotted #ccc;font-size:0.75em;padding:10px;width:300px}

li.xtra_1{background:url(main_sprite.jpg) no-repeat -129px -298px}
li.xtra_2{background:url(main_sprite.jpg) no-repeat -129px -333px}
li.empty,li.empty:hover{height:25px}
.right_menu span{color:#666;display:block}
.form_frame{font-size:0.85em;height:40px;width:450px}
.form_left{float:left;height:45px;line-height:45px;width:150px}
.form_right{float:right;height:40px;padding-top:5px;text-align:left;width:300px}
.form_frame_left{float:left;margin:10px}
.form_login_frame{border-bottom:1px dotted #ddd;border-left:1px dotted #ddd;float:left;font-size:0.75em;margin:10px 10px 10px 0;padding:0 0 10px 10px}
input.post_input,select.post_select{background-color:#F9F9F9;border:1px solid #ccc;color:#181818;font-family:segoe ui, trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;font-size:1em;padding:5px;width:260px}
.button1{-moz-border-radius:3px;-webkit-border-radius:3px;background:#ddd url(bg-button.gif) repeat-x 0 0;border:1px solid #bbb;border-radius:3px;cursor:pointer;font-size:12px;margin:0;padding:4px 10px}
.button1:hover{border:1px solid #A5BADA}
.btnbold{font-weight:700}
.btnsmall{padding:2px 10px}
.pagination{font-size:0.9em;margin:10px 0}
.pagination a{background:#F8F8F8;border-bottom:1px solid #39C;color:#333;margin:0 2px;padding:5px}
.pagination a:hover{border-bottom:1px solid red;color:red}
.pagination .active{color:red}
a.button1{color:#000}
.button1 a:hover{color:#000;text-decoration:none}
input.button1{font-size:15px;padding:6px 15px}
.maintable{border-collapse:collapse;font-size:0.8em}
table.maintable{width:100%}
.maintable td{border-bottom:1px dotted #ccc;padding:4px 6px;vertical-align:top}
.maintable th{border-bottom:1px solid #ccc;padding:4px 6px;text-transform:uppercase}
.maintable td a{color:#04A;text-decoration:none}
.maintable td a:hover{color:#C9231C;text-decoration:none}
.td_left{color:#000;text-align:right;width:150px}
#cse-search-results{padding:10px 0 0}
#header a:hover,.content_right_title a:hover{color:#6987AB}
ul.top_menu,ul.right_menu{margin:0;padding:0}
.ad_728{margin-bottom:10px}
.tools_download{font-size:0.9em;padding:5px 0 0}
.tools_screenshots img{border:1px solid #ccc;margin:0 8px 0 0;padding:2px}
.domain_frame,.upload_text{font-size:0.8em}
.maintable img{margin:3px 0 0;vertical-align:top}
#header_top,#header_bottom{font-size:0.75em;padding:1px 5px;text-align:right}
.paste_box_line2,.paste_box_line3{font-size:0.85em;text-transform:uppercase}
.i_fb{background:url(main_sprite.jpg) no-repeat 0 -44px;height:22px;width:150px}
.i_tw{background:url(main_sprite.jpg) no-repeat 0 0;height:22px;width:150px}
.i_go{background:url(main_sprite.jpg) no-repeat 0 -22px;height:22px;width:150px}
.i_gs{background:url(main_sprite.jpg) no-repeat -50px -307px;height:16px;width:16px}
.i_dl{background:url(main_sprite.jpg) no-repeat -53px -156px;height:16px;width:16px}
.i_ed{background:url(main_sprite.jpg) no-repeat -53px -172px;height:16px;width:16px}
.i_gi{background:url(main_sprite.jpg) no-repeat -16px -178px;height:16px;width:16px}
.i_p{background:url(main_sprite.jpg) no-repeat 0 -194px;height:13px;width:15px}
.i_gb{background:url(main_sprite.jpg) no-repeat 0 -307px;height:50px;width:50px}
img.i_p0{background:url(main_sprite.jpg) no-repeat -128px -225px;height:16px;margin:3px 5px 0 0;vertical-align:top;width:16px}
img.i_p1{background:url(main_sprite.jpg) no-repeat -129px -307px;height:16px;margin:3px 5px 0 0;vertical-align:top;width:16px}
img.i_p2{background:url(main_sprite.jpg) no-repeat -129px -341px;height:16px;margin:3px 5px 0 0;vertical-align:top;width:16px}
.i_highlight{background:url(main_sprite.jpg) no-repeat 0 -178px;cursor:pointer;height:16px;width:16px}
.i16{height:16px;margin:7px 5px 0 0;width:16px}
.line{background:url(main_sprite.jpg) no-repeat -53px -108px}
.wrap{background:url(main_sprite.jpg) no-repeat -53px -140px}
.clipboard{background:url(main_sprite.jpg) no-repeat -53px -124px}
#code_buttons{background:url(code_bg.png);border-bottom:1px solid #ccc;font-size:0.9em;height:30px;padding:0 8px;text-align:left;text-transform:uppercase}
#code_frame{background-color:#F8F8F8;border:1px solid #ddd;font-size:12px;line-height:21px;overflow:auto;padding:0}
#code_frame2{border:1px solid #eee;margin:0 0 10px;}
#code_frame div{font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;line-height:21px}
ol{margin:0;padding:0 0 0 48px}
li.ln-xtra .de1,li.ln-xtra .de2{background:#FF8}
.diffspan{float:right;font-family:segoe ui, trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;margin:5px 0 0;text-align:right;text-transform:none}
#b_facebook2,#b_twitter2{background:url(main_sprite.jpg) no-repeat 0 -86px;color:#fff;font-weight:700;cursor:pointer;font-size:11px;height:23px;margin:0 0 6px;padding:0 0 0 17px;width:36px}
#b_twitter2{background:url(main_sprite.jpg) no-repeat 0 -132px;color:#1C6A8B}
#b_facebook2:hover{background:url(main_sprite.jpg) no-repeat 0 -109px}
#b_twitter2:hover{background:url(main_sprite.jpg) no-repeat 0 -155px}
span#b_twitter,span#b_facebook{display:block;text-align:center}
img.i_tf{background:url(main_sprite.jpg) no-repeat 0 -66px;margin:13px 0 0 20px}
.paste_box_icon,.form_avatar{border:1px solid #ddd;float:left;height:50px;margin:0 10px 0 0;padding:2px;width:50px}
#footer_links a,#footer_top a{color:#666;text-shadow:#fff 1px 1px 0}
.form_text,.tools_left{float:left}
table.diff{margin:10px}
table.diff td{padding-left:3px;padding-right:3px;text-align:right}
table.diff td.code{text-align:left}
table.diff td.code pre{font:normal normal 12px Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;margin:0;padding:0}
table.diff tr.new{background:#ddf}
table.diff tr.old{background:#fdd}
#bothlink,#oldlink,#newlink{padding:2px 4px}
table.diff tr.hidenew,table.diff tr.hideold{display:none}
#copied {display:none;}